.connect-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  * {
    font-family: var(--secondary-font);
  }
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.8px;
  min-width: 210px;
  & > :first-child {
    position: absolute;
  }
  &::before {
    position: relative;
    content: "";
    z-index: -1;
    width: calc(100%);
    min-height: 64px;
  }
  &:not(.connected) {
    &::before {
      clip-path: polygon(
        0px 11.7394px,
        0px calc(100% - 18.7449px),
        0px calc(100% - 18.7449px),
        0.027183396px calc(100% - 18.0856521px),
        0.107867808px calc(100% - 17.4353088px),
        0.240754572px calc(100% - 16.7968707px),
        0.424545024px calc(100% - 16.1733384px),
        0.6579405px calc(100% - 15.5677125px),
        0.939642336px calc(100% - 14.9829936px),
        1.268351868px calc(100% - 14.4221823px),
        1.642770432px calc(100% - 13.8882792px),
        2.061599364px calc(100% - 13.3842849px),
        2.52354px calc(100% - 12.9132px),
        13.9653px calc(100% - 2.1683px),
        13.9653px calc(100% - 2.1683px),
        14.4241443px calc(100% - 1.7691129px),
        14.9091024px calc(100% - 1.4079232px),
        15.4177821px calc(100% - 1.0856783px),
        15.9477912px calc(100% - 0.80332559999999px),
        16.4967375px calc(100% - 0.5618125px),
        17.0622288px calc(100% - 0.3620864px),
        17.6418729px calc(100% - 0.2050947px),
        18.2332776px calc(100% - 0.091784799999999px),
        18.8340507px calc(100% - 0.023104099999998px),
        19.4418px calc(100% - 0px),
        calc(100% - 11.289px) calc(100% - 0px),
        calc(100% - 11.289px) calc(100% - 0px),
        calc(100% - 10.51108px) calc(100% - 0.037866799999989px),
        calc(100% - 9.7476799999999px) calc(100% - 0.14982639999999px),
        calc(100% - 9.00354px) calc(100% - 0.3334176px),
        calc(100% - 8.2834px) calc(100% - 0.5861792px),
        calc(100% - 7.592px) calc(100% - 0.90565px),
        calc(100% - 6.93408px) calc(100% - 1.2893688px),
        calc(100% - 6.31438px) calc(100% - 1.7348744px),
        calc(100% - 5.73764px) calc(100% - 2.2397056px),
        calc(100% - 5.2086px) calc(100% - 2.8014012px),
        calc(100% - 4.732px) calc(100% - 3.4175px),
        calc(100% - 1.442px) calc(100% - 8.1245px),
        calc(100% - 1.442px) calc(100% - 8.1245px),
        calc(100% - 1.17369px) calc(100% - 8.5350464px),
        calc(100% - 0.93183999999997px) calc(100% - 8.9596592px),
        calc(100% - 0.71687px) calc(100% - 9.3970388px),
        calc(100% - 0.52919999999997px) calc(100% - 9.8458856px),
        calc(100% - 0.36924999999999px) calc(100% - 10.3049px),
        calc(100% - 0.23743999999999px) calc(100% - 10.7727824px),
        calc(100% - 0.13418999999999px) calc(100% - 11.2482332px),
        calc(100% - 0.059920000000005px) calc(100% - 11.7299528px),
        calc(100% - 0.015050000000002px) calc(100% - 12.2166416px),
        calc(100% - 2.8421709430404e-14px) calc(100% - 12.707px),
        calc(100% - 0px) calc(50% - 10.2233px),
        calc(100% - 0px) calc(50% - 10.2233px),
        calc(100% - 0.026819999999958px) calc(50% - 10.8782397px),
        calc(100% - 0.10643999999994px) calc(50% - 11.5244536px),
        calc(100% - 0.23760000000001px) calc(50% - 12.1589939px),
        calc(100% - 0.41904px) calc(50% - 12.7789128px),
        calc(100% - 0.64949999999999px) calc(50% - 13.3812625px),
        calc(100% - 0.92771999999999px) calc(50% - 13.9630952px),
        calc(100% - 1.25244px) calc(50% - 14.5214631px),
        calc(100% - 1.6224px) calc(50% - 15.0534184px),
        calc(100% - 2.03634px) calc(50% - 15.5560133px),
        calc(100% - 2.493px) calc(50% - 16.0263px),
        calc(100% - 17.011px) 2.19704px,
        calc(100% - 17.011px) 2.19704px,
        calc(100% - 17.470943px) 1.792738818px,
        calc(100% - 17.957544px) 1.426864384px,
        calc(100% - 18.468361px) 1.100389766px,
        calc(100% - 19.000952px) 0.814288032px,
        calc(100% - 19.552875px) 0.56953225px,
        calc(100% - 20.121688px) 0.367095488px,
        calc(100% - 20.704949px) 0.207950814px,
        calc(100% - 21.300216px) 0.093071296px,
        calc(100% - 21.905047px) 0.023430002px,
        calc(100% - 22.517px) 2.9079606985839e-32px,
        12.1997px 0px,
        12.1997px 0px,
        11.61363008px 0.021484829px,
        11.03381984px 0.085391392px,
        10.46242856px 0.190897803px,
        9.90161552px 0.337182176px,
        9.35354px 0.523422625px,
        8.82036128px 0.748797264px,
        8.30423864px 1.012484207px,
        7.80733136px 1.313661568px,
        7.33179872px 1.651507461px,
        6.8798px 2.0252px,
        2.68006px 5.76463px,
        2.68006px 5.76463px,
        2.190733452px 6.23916628px,
        1.746661376px 6.74977984px,
        1.349316724px 7.29318676px,
        1.000172448px 7.86610312px,
        0.7007015px 8.465245px,
        0.452376832px 9.08732848px,
        0.256671396px 9.72906964px,
        0.115058144px 10.38718456px,
        0.029010028px 11.05838932px,
        3.6060212484237e-32px 11.7394px
      );
      background: linear-gradient(
        162deg,
        #00fff8 -2.84%,
        #142f5b 46.14%,
        #d8375b 91.14%
      );
    }
  }
  &.connected {
    &::before {
      clip-path: polygon(
        14.1997px 3.5px,
        14.1997px 3.5px,
        13.72351748px 3.5174564px,
        13.25241984px 3.5693804px,
        12.78816196px 3.6551042px,
        12.33249872px 3.77396px,
        11.887185px 3.92528px,
        11.45397568px 4.1083964px,
        11.03462564px 4.3226414px,
        10.63088976px 4.5673472px,
        10.24452292px 4.841846px,
        9.87728px 5.14547px,
        5.67755px 8.8849px,
        5.67755px 8.8849px,
        5.27997257px 9.2704653px,
        4.91916416px 9.6853424px,
        4.59632159px 10.1268631px,
        4.31264168px 10.5923592px,
        4.06932125px 11.0791625px,
        3.86755712px 11.5846048px,
        3.70854611px 12.1060179px,
        3.59348504px 12.6407336px,
        3.52357073px 13.1860837px,
        3.5px 13.7394px,
        3.5px calc(100% - 20.2449px),
        3.5px calc(100% - 20.2449px),
        3.52208654px calc(100% - 19.7092634px),
        3.58764272px calc(100% - 19.1808592px),
        3.69561338px calc(100% - 18.6621258px),
        3.84494336px calc(100% - 18.1555016px),
        4.0345775px calc(100% - 17.663425px),
        4.26346064px calc(100% - 17.1883344px),
        4.53053762px calc(100% - 16.7326682px),
        4.83475328px calc(100% - 16.2988648px),
        5.17505246px calc(100% - 15.8893626px),
        5.55038px calc(100% - 15.5066px),
        16.9922px calc(100% - 4.7618px),
        16.9922px calc(100% - 4.7618px),
        17.364989px calc(100% - 4.4374422px),
        17.759px calc(100% - 4.1439616px),
        18.172289px calc(100% - 3.8821274px),
        18.602912px calc(100% - 3.6527088px),
        19.048925px calc(100% - 3.456475px),
        19.508384px calc(100% - 3.2941952px),
        19.979345px calc(100% - 3.1666386px),
        20.459864px calc(100% - 3.0745744px),
        20.947997px calc(100% - 3.0187718px),
        21.4418px calc(100% - 3px),
        calc(100% - 12.789px) calc(100% - 3px),
        calc(100% - 12.789px) calc(100% - 3px),
        calc(100% - 12.156759px) calc(100% - 3.0307649px),
        calc(100% - 11.536392px) calc(100% - 3.1217272px),
        calc(100% - 10.931733px) calc(100% - 3.2708883px),
        calc(100% - 10.346616px) calc(100% - 3.4762496px),
        calc(100% - 9.784875px) calc(100% - 3.7358125px),
        calc(100% - 9.250344px) calc(100% - 4.0475784px),
        calc(100% - 8.746857px) calc(100% - 4.4095487px),
        calc(100% - 8.278248px) calc(100% - 4.8197248px),
        calc(100% - 7.848351px) calc(100% - 5.2761081px),
        calc(100% - 7.461px) calc(100% - 5.7767px),
        calc(100% - 4.172px) calc(100% - 10.4837px),
        calc(100% - 4.172px) calc(100% - 10.4837px),
        calc(100% - 3.953775px) calc(100% - 10.8172742px),
        calc(100% - 3.7571199999999px) calc(100% - 11.1622736px),
        calc(100% - 3.582365px) calc(100% - 11.5176434px),
        calc(100% - 3.42984px) calc(100% - 11.8823288px),
        calc(100% - 3.299875px) calc(100% - 12.255275px),
        calc(100% - 3.1928px) calc(100% - 12.6354272px),
        calc(100% - 3.108945px) calc(100% - 13.0217306px),
        calc(100% - 3.04864px) calc(100% - 13.4131304px),
        calc(100% - 3.012215px) calc(100% - 13.8085718px),
        calc(100% - 3px) calc(100% - 14.207px),
        calc(100% - 3px) 23.7767px,
        calc(100% - 3px) 23.7767px,
        calc(100% - 3.02179px) 23.2445509px,
        calc(100% - 3.0864799999999px) 22.7194992px,
        calc(100% - 3.19305px) 22.2039383px,
        calc(100% - 3.34048px) 21.7002616px,
        calc(100% - 3.52775px) 21.2108625px,
        calc(100% - 3.75384px) 20.7381344px,
        calc(100% - 4.01773px) 20.2844707px,
        calc(100% - 4.3184px) 19.8522648px,
        calc(100% - 4.65483px) 19.4439101px,
        calc(100% - 5.026px) 19.0618px,
        calc(100% - 19.543px) 5.28509px,
        calc(100% - 19.543px) 5.28509px,
        calc(100% - 19.916861px) 4.95659546px,
        calc(100% - 20.312328px) 4.65932288px,
        calc(100% - 20.727427px) 4.39406282px,
        calc(100% - 21.160184px) 4.16160584px,
        calc(100% - 21.608625px) 3.9627425px,
        calc(100% - 22.070776px) 3.79826336px,
        calc(100% - 22.544663px) 3.66895898px,
        calc(100% - 23.028312px) 3.57561992px,
        calc(100% - 23.519749px) 3.51903674px,
        calc(100% - 24.017px) 3.5px,
        14.1997px 3.5px,
        7.88231px 2.90492px,
        7.88231px 2.90492px,
        8.41905994px 2.46116066px,
        8.98375632px 2.05996928px,
        9.57383498px 1.70232182px,
        10.18673176px 1.38919424px,
        10.8198825px 1.1215625px,
        11.47072304px 0.90040256px,
        12.13668922px 0.72669038px,
        12.81521688px 0.60140192px,
        13.50374186px 0.52551314px,
        14.1997px 0.5px,
        calc(100% - 24.017px) 0.5px,
        calc(100% - 24.017px) 0.5px,
        calc(100% - 23.290344px) 0.5278232px,
        calc(100% - 22.572112px) 0.6105224px,
        calc(100% - 21.865208px) 0.746942px,
        calc(100% - 21.172536px) 0.9359264px,
        calc(100% - 20.497px) 1.17632px,
        calc(100% - 19.841504px) 1.4669672px,
        calc(100% - 19.208952px) 1.8067124px,
        calc(100% - 18.602248px) 2.1944px,
        calc(100% - 18.024296px) 2.6288744px,
        calc(100% - 17.478px) 3.10898px,
        calc(100% - 2.961px) 16.8856px,
        calc(100% - 2.961px) 16.8856px,
        calc(100% - 2.418579px) 17.4440849px,
        calc(100% - 1.926912px) 18.0409272px,
        calc(100% - 1.487493px) 18.6726283px,
        calc(100% - 1.101816px) 19.3356896px,
        calc(100% - 0.77137500000001px) 20.0266125px,
        calc(100% - 0.49766399999999px) 20.7418984px,
        calc(100% - 0.28217699999999px) 21.4780487px,
        calc(100% - 0.126408px) 22.2315648px,
        calc(100% - 0.031851000000017px) 22.9989481px,
        calc(100% - 0px) 23.7767px,
        calc(100% - 0px) calc(100% - 14.207px),
        calc(100% - 0px) calc(100% - 14.207px),
        calc(100% - 0.017858999999959px) calc(100% - 13.6246871px),
        calc(100% - 0.071111999999943px) calc(100% - 13.0467368px),
        calc(100% - 0.15927300000001px) calc(100% - 12.4746917px),
        calc(100% - 0.28185599999998px) calc(100% - 11.9100944px),
        calc(100% - 0.43837500000001px) calc(100% - 11.3544875px),
        calc(100% - 0.628344px) calc(100% - 10.8094136px),
        calc(100% - 0.85127700000004px) calc(100% - 10.2764153px),
        calc(100% - 1.106688px) calc(100% - 9.7570352px),
        calc(100% - 1.394091px) calc(100% - 9.2528159px),
        calc(100% - 1.713px) calc(100% - 8.7653px),
        calc(100% - 5.002px) calc(100% - 4.0583px),
        calc(100% - 5.002px) calc(100% - 4.0583px),
        calc(100% - 5.568093px) calc(100% - 3.32667px),
        calc(100% - 6.196424px) calc(100% - 2.659648px),
        calc(100% - 6.881371px) calc(100% - 2.060156px),
        calc(100% - 7.617312px) calc(100% - 1.531116px),
        calc(100% - 8.398625px) calc(100% - 1.07545px),
        calc(100% - 9.219688px) calc(100% - 0.69607999999999px),
        calc(100% - 10.074879px) calc(100% - 0.395928px),
        calc(100% - 10.958576px) calc(100% - 0.17791600000001px),
        calc(100% - 11.865157px) calc(100% - 0.044965999999988px),
        calc(100% - 12.789px) calc(100% - 1.4210854715202e-14px),
        21.4418px calc(100% - 0px),
        21.4418px calc(100% - 0px),
        20.7200802px calc(100% - 0.027436500000007px),
        20.0066536px calc(100% - 0.10899599999998px),
        19.3043594px calc(100% - 0.2435535px),
        18.6160368px calc(100% - 0.429984px),
        17.944525px calc(100% - 0.6671625px),
        17.2926632px calc(100% - 0.95396400000001px),
        16.6632906px calc(100% - 1.2892635px),
        16.0592464px calc(100% - 1.671936px),
        15.4833698px calc(100% - 2.1008565px),
        14.9385px calc(100% - 2.5749px),
        3.4967px calc(100% - 13.3198px),
        3.4967px calc(100% - 13.3198px),
        2.94814724px calc(100% - 13.8792099px),
        2.45078912px calc(100% - 14.4777032px),
        2.00616788px calc(100% - 15.1117153px),
        1.61582576px calc(100% - 15.7776816px),
        1.281305px calc(100% - 16.4720375px),
        1.00414784px calc(100% - 17.1912184px),
        0.78589652px calc(100% - 17.9316597px),
        0.62809328px calc(100% - 18.6897968px),
        0.53228036px calc(100% - 19.4620651px),
        0.5px calc(100% - 20.2449px),
        0.5px 13.7394px,
        0.5px 13.7394px,
        0.53444938px 12.93071005px,
        0.63663144px 12.1336604px,
        0.80479706px 11.35215135px,
        1.03719712px 10.5900832px,
        1.3320825px 9.85135625px,
        1.68770408px 9.1398708px,
        2.10231274px 8.45952715px,
        2.57415936px 7.8142256px,
        3.10149482px 7.20786645px,
        3.68257px 6.64435px,
        7.88231px 2.90492px
      );
      background: linear-gradient(162deg, #142f5b 46.14%, #d8375b 91.14%);
    }
  }
}
